/*============================================================================
	#Fonts
==============================================================================*/

@font-face {
    font-family: 'Prata';
    src: url('/assets/fonts/Prata-Regular.eot');
    src: local('Prata Regular'), local('Prata-Regular'),
        url('/assets/fonts/Prata-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Prata-Regular.woff') format('woff'),
        url('/assets/fonts/Prata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/assets/fonts/OpenSans-Bold.eot');
	src: local('Open Sans Bold'), local('/assets/fonts/OpenSans-Bold'),
		url('/assets/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/OpenSans-Bold.woff') format('woff'),
		url('/assets/fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/assets/fonts/OpenSans-SemiBold.eot');
	src: local('Open Sans SemiBold'), local('/assets/fonts/OpenSans-SemiBold'),
		url('/assets/fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/OpenSans-SemiBold.woff') format('woff'),
		url('/assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: $semiBold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/assets/fonts/OpenSans-ExtraBold.eot');
	src: local('Open Sans ExtraBold'), local('/assets/fonts/OpenSans-ExtraBold'),
		url('/assets/fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/OpenSans-ExtraBold.woff') format('woff'),
		url('/assets/fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: $extraBold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/assets/fonts/OpenSans-Italic.eot');
	src: local('Open Sans Italic'), local('/assets/fonts/OpenSans-Italic'),
		url('/assets/fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/OpenSans-Italic.woff') format('woff'),
		url('/assets/fonts/OpenSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/assets/fonts/OpenSans-Regular.eot');
	src: local('Open Sans Regular'), local('/assets/fonts/OpenSans-Regular'),
		url('/assets/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/OpenSans-Regular.woff') format('woff'),
		url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

