
// Main Varriables
// ====================================================================

// Colors
$fontColorMain: #000;
$fontColorSecond: #7e342d;

$themeColorMain : #e0d6cc;
$themeColorSecond : #d0a684;

// Fonts 
$fontMain : 'Open Sans', sans-serif;
$fontSecond : 'Prata', serif;

$semiBold : 600;
$extraBold : 800;


